.happy(data-media='#audio-1', data-view-mode='mini')
  h2 Экос поздравляет с новым годом и рождеством

//- audio#audio-1(controls)
//-   source(src="https://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.ogg" type="audio/ogg")
//-   source(src="https://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.mp3" type="audio/mpeg")

